minimap canvas {
	position: absolute;
	z-index: 0;
}

minimap_champion canvas {
	position: absolute;
	z-index: 10;
}

minimap_monster canvas {
	position: absolute;
	z-index: 1;
}

minimap_object canvas {
	position: absolute;
	z-index: 1;
}

input {
	width : 300px;
}

#Play {
	width : 50px;	
}